# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
*.egg
.eggs/

# Virtual environment
venv/
.env
.venv/

# DB & Cache
*.db
*.sqlite3
dump.rdb

# IDE
.vscode/
.idea/
*.swp

# Logs
*.log
logs/

venv/
__pycache__/
*.pyc
media.db
